# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.pdouelle.GenericController.Blob.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\development\my_workspace\pdouelle.GenericController.Blob\.idea\.idea.pdouelle.GenericController.Blob\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
